@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "/assets/components/hero.css";

body {
    font-family: SpaceGrotesk;
    @apply bg-black text-white
}

.sdp-container {
    @apply w-[343px] md:w-[708px] mx-auto md:mx-8 lg:w-[1110px] lg:mx-auto
}

@font-face {
    font-family: SpaceGrotesk;
    src: local("SpaceGrotesk"),
        url(../fonts/SpaceGrotesk-VariableFont_wght.ttf)
}

